

body{
    /* background-color: rgb(32, 32, 48); */
    background-image: linear-gradient(45deg, rgb(0, 0, 0) 10%, #291c51 100%);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}


div{
    text-align: center;
}


.image img {
    width: 300px;
    height: 300px;
    border-radius: 50%; 
    box-sizing: border-box;
    transition: .5s;
    cursor: pointer;
}


.image #astolof{
    
    
    position:relative;
}

.image #arch 
{   
    position: absolute;
    size: -10px;
}

.image #astolof:hover{
    
    opacity: 0;
}


.caption h1{
    
    font-size: -3em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(164, 209, 248);


}

.caption p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.caption button {
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
   .caption button::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color:transparent;
    transition: 0.5s;
    transform-origin: center;
  }
  
  .caption button::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: transparent;
    transition: 0.5s;
  }
  
  .caption button:hover::before, button:hover::after {
    transform: scale(0)
  }
  
  .caption button:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
  }
  

